replicaCount: 3

image:
  repository: python-demo
  tag: "9d4b99c7145c78690472da771344a8b3dbf18468"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 5000

resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "500m"
    memory: "256Mi"

probes:
  liveness:
    initialDelaySeconds: 15
    periodSeconds: 10
  readiness:
    initialDelaySeconds: 10
    periodSeconds: 5

